#blog h3, h4 {
   text-align: center;
}

#blog .contenedor{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

#blog article {
   margin: 15px;
}
#Bienvenidos {
   padding: 2%; 
}
#blog{
   padding-bottom: 5%;
}
.b-text{
   font-size: 1.3em;
}
.b-title{
   font-size: 2em;
}
.margin{
   margin-bottom: 3%;
}

.img:hover{
   transform: scale(1.1);
}
.imgg{
   width: 200px;
}
